In [10]:
import pandas as pd

In [11]:
protiens_2 = pd.read_excel("Adam_Proteomics_2.xlsx", sheet_name=0)
protiens_identifiers_2 = pd.read_excel("Adam_Proteomics_2.xlsx", sheet_name=1)

In [12]:
protiens_2.head()

,Protein.Group,Protein.Ids,Protein.Names,Genes,First.Protein.Description,1139,3058,FT_10_1139,FT_10_3058,FT_9_1139,FT_9_3058,FC 3058/1139
0,P50171,P50171,DHB8_MOUSE,Hsd17b8,(3R)-3-hydroxyacyl-CoA dehydrogenase,NaN,22041.7,NaN,NaN,NaN,NaN,NaN
1,Q8BFP9,Q8BFP9,PDK1_MOUSE,Pdk1,[Pyruvate dehydrogenase (acetyl-transferring)]...,NaN,38263.6,NaN,NaN,NaN,NaN,NaN
2,O08810,O08810,U5S1_MOUSE,Eftud2,116 kDa U5 small nuclear ribonucleoprotein com...,NaN,233246.0,NaN,NaN,NaN,NaN,NaN
3,O35083,O35083,PLCA_MOUSE,Agpat1,1-acyl-sn-glycerol-3-phosphate acyltransferase...,NaN,95786.6,NaN,NaN,NaN,NaN,NaN
4,Q8K4X7,Q8K4X7,PLCD_MOUSE,Agpat4,1-acyl-sn-glycerol-3-phosphate acyltransferase...,NaN,20869.4,NaN,NaN,NaN,NaN,NaN

In [13]:
protiens_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2254 entries, 0 to 2253
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Protein.Group              2254 non-null   object
 1   Protein.Ids                2254 non-null   object
 2   Protein.Names              2254 non-null   object
 3   Genes                      2252 non-null   object
 4   First.Protein.Description  2254 non-null   object
 5   1139                       1547 non-null   float64
 6   3058                       2217 non-null   float64
 7   FT_10_1139                 197 non-null    float64
 8   FT_10_3058                 367 non-null    float64
 9   FT_9_1139                  176 non-null    float64
 10  FT_9_3058                  183 non-null    float64
 11  FC 3058/1139               1547 non-null   float64
dtypes: float64(7), object(5)
memory usage: 211.4+ KB

In [14]:
# remove unwanted columns
protiens_2 = protiens_2[['Protein.Group', 'Protein.Ids','Protein.Names','Genes','First.Protein.Description',1139,3058]]
protiens_2.head()

,Protein.Group,Protein.Ids,Protein.Names,Genes,First.Protein.Description,1139,3058
0,P50171,P50171,DHB8_MOUSE,Hsd17b8,(3R)-3-hydroxyacyl-CoA dehydrogenase,NaN,22041.7
1,Q8BFP9,Q8BFP9,PDK1_MOUSE,Pdk1,[Pyruvate dehydrogenase (acetyl-transferring)]...,NaN,38263.6
2,O08810,O08810,U5S1_MOUSE,Eftud2,116 kDa U5 small nuclear ribonucleoprotein com...,NaN,233246.0
3,O35083,O35083,PLCA_MOUSE,Agpat1,1-acyl-sn-glycerol-3-phosphate acyltransferase...,NaN,95786.6
4,Q8K4X7,Q8K4X7,PLCD_MOUSE,Agpat4,1-acyl-sn-glycerol-3-phosphate acyltransferase...,NaN,20869.4

In [15]:
protiens_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2254 entries, 0 to 2253
Data columns (total 7 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Protein.Group              2254 non-null   object
 1   Protein.Ids                2254 non-null   object
 2   Protein.Names              2254 non-null   object
 3   Genes                      2252 non-null   object
 4   First.Protein.Description  2254 non-null   object
 5   1139                       1547 non-null   float64
 6   3058                       2217 non-null   float64
dtypes: float64(2), object(5)
memory usage: 123.4+ KB

In [16]:
# if NaN in columns 1139 or 3058 change to zero per request
protiens_2 = protiens_2.fillna(0)
protiens_2 = protiens_2.rename(columns= {"Protein.Names":"Protein_Names",
                                     "Protein.Group":"Protein_Group",
                                     "Protein.Ids":"Protein_Ids",
                                     "First.Protein.Description":"First_Protein_Description",
                                     1139:"1139",
                                     3058:"3058"})
protiens_2["Peptides"] = None
protiens_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2254 entries, 0 to 2253
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Protein_Group              2254 non-null   object
 1   Protein_Ids                2254 non-null   object
 2   Protein_Names              2254 non-null   object
 3   Genes                      2254 non-null   object
 4   First_Protein_Description  2254 non-null   object
 5   1139                       2254 non-null   float64
 6   3058                       2254 non-null   float64
 7   Peptides                   0 non-null      object
dtypes: float64(2), object(6)
memory usage: 141.0+ KB

In [17]:
protiens_2.head()

,Protein_Group,Protein_Ids,Protein_Names,Genes,First_Protein_Description,1139,3058,Peptides
0,P50171,P50171,DHB8_MOUSE,Hsd17b8,(3R)-3-hydroxyacyl-CoA dehydrogenase,0.0,22041.7,None
1,Q8BFP9,Q8BFP9,PDK1_MOUSE,Pdk1,[Pyruvate dehydrogenase (acetyl-transferring)]...,0.0,38263.6,None
2,O08810,O08810,U5S1_MOUSE,Eftud2,116 kDa U5 small nuclear ribonucleoprotein com...,0.0,233246.0,None
3,O35083,O35083,PLCA_MOUSE,Agpat1,1-acyl-sn-glycerol-3-phosphate acyltransferase...,0.0,95786.6,None
4,Q8K4X7,Q8K4X7,PLCD_MOUSE,Agpat4,1-acyl-sn-glycerol-3-phosphate acyltransferase...,0.0,20869.4,None

In [18]:
protiens_identifiers_2 = protiens_identifiers_2.rename(columns = {"Sample":"Sample_Name"})
protiens_identifiers_2.head()

   Sample_Name          Virus  Biotin     Fraction
0         1139        TurboID      72  whole brain
1         3058  TDP43-TurboID      72  whole brain

In [19]:
protiens_identifiers_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sample_Name  2 non-null      int64
 1   Virus        2 non-null      object
 2   Biotin       2 non-null      int64
 3   Fraction     2 non-null      object
dtypes: int64(2), object(2)
memory usage: 192.0+ bytes

In [20]:
protiens_2.to_csv("proteins_denormalized_2.csv")
protiens_identifiers_2.to_csv("proteins_identifiers_denormalized_2.csv")

In [21]:
# create mouse to protiens hit table based on protiens_2
protein_mouse_1 = protiens_2[["Protein_Names", "1139"]]
protein_mouse_2 = protiens_2[["Protein_Names", "3058"]]

protein_mouse_1["Sample_Name"] = "1139"
protein_mouse_2["Sample_Name"] = "3058"

protein_mouse_1 = protein_mouse_1.rename(columns = {"1139":"Hits"})
protein_mouse_2 = protein_mouse_2.rename(columns = {"3058":"Hits"})

union_dfs = pd.concat([protein_mouse_1,
                       protein_mouse_2], ignore_index=True)

union_dfs = union_dfs[["Protein_Names", "Sample_Name", "Hits"]]
union_dfs.head()

C:\Users\Adam Brewer\AppData\Local\Temp\ipykernel_3940\2577387173.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  protein_mouse_1["Sample_Name"] = "1139"
C:\Users\Adam Brewer\AppData\Local\Temp\ipykernel_3940\2577387173.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  protein_mouse_2["Sample_Name"] = "3058"

  Protein_Names Sample_Name  Hits
0    DHB8_MOUSE        1139   0.0
1    PDK1_MOUSE        1139   0.0
2    U5S1_MOUSE        1139   0.0
3    PLCA_MOUSE        1139   0.0
4    PLCD_MOUSE        1139   0.0

In [22]:
union_dfs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4508 entries, 0 to 4507
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Protein_Names  4508 non-null   object
 1   Sample_Name    4508 non-null   object
 2   Hits           4508 non-null   float64
dtypes: float64(1), object(2)
memory usage: 105.8+ KB

In [23]:
union_dfs.to_csv("mouse_by_protein_2.csv")